server:
  port: 9001
  error:
    path: /api/tmaster/v1/error
grpc:
  server:
    port: 9000
spring:
  profiles:
    active: h2,aliyun-test
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

logging:
  level:
    root: info
tmaster:
  configure:
    productCode: ""
    appId: ""
    secret: ""
    saasTenantUrl: ""
    domainUrl: ${TMAESTRO_SERVER_DOMAIN}
    webHomeUrl: ${TMAESTRO_WEB_HOME}
    saasUrl: ""
    domainApiUrl: ${TMAESTRO_SERVER_DOMAIN}
    grpcHost: ${GRPC_SERVER_IP}
    grpcPort: ${GRPC_SERVER_PORT}
    algorithmUrl: ${ALGO_PARAM_TUNING_URL}
